form{
    text-align: center;
    background-color: aqua;
    width: 60%;
    margin-left: 20%;
}
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  /* label{
      margin-left: 20%;
  } */