*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap:10px;
} 
@media screen and (max-width:768px) {
        .row{
            grid-template-columns: 1fr ;
        }
}